.my-web-page-rules {
	font-family: 'Segoe UI Light' !important;
}
#content {
	max-width: 60%;
	margin: auto;
	padding: 10px;
}

.bckg-gradient {
	/*background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
	background-color: #D9AFD9;
	background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);*/
	
	background-color: #21D4FD;
	background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

	background-repeat: no-repeat;
	background-size: cover;
}

.registration-form {
	display: block;
	margin: auto;
	width: 640px;
	background: #fff;
	padding: 10px;
	border-radius: 50px;
	border: 4px dashed #99abb1;
}

.registration-form-brand {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 30pt;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.brand {
	font-style: italic;
	font-weight: bold;
	color: #ff4c4c;
}
.brand>.brand-first-two {  
  	color: white;
  	background: rgba(255, 0, 0, 0.3);
  	background-image: linear-gradient(19deg, #D4145A  0%, #FBB03B 100%);
  	border-radius: 5px;
}

.registration-form-title {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 18pt;
	font-weight: bold;
	padding-bottom: 10px;
	border-bottom: 1px solid lightgrey;
	margin-bottom: 20px;
}

.input-group {
	display: flex;
	width: calc(100% - 10px);
	margin: 10px 0;
	padding: 0 10px;
}
.input-label {
	display: inline-block;
	width: 40%;
	font-weight: bold;
}
.input-self {
	display: inline-block;
	width: 60%;
}
.input-self>input, .input-self>select {
	padding: 5px;
	min-width: 200px;
	font-size: 12pt;
	border: 1px solid lightgrey;
	border-radius: 0;
	outline: none;
	transition: ease 200ms;
	background-color: rgba(255,255,255,0.4);
}
.input-self>input:focus, .input-self>select:focus {
	box-shadow: 0 0 3px 0 #ff7702;
	border: 1px solid #e3700e;
	transition: ease 200ms;
	background-color: white;
}
.input-self>input:hover, .input-self>select:hover {
	box-shadow: 0 0 1px 0 #ffd712;
	border: 1px solid #c5a400;
	transition: ease 200ms;
}

.submit-button{
	display: block;
	min-width: 200px;
	min-height: 50px;
	margin: 20px auto;
	font-size: 14pt;
	outline: none;
	border: none;
    background: orange;
    color: white;
    border-radius: 5px;
}

.submit-button:hover {
	background: darkorange;
}